<h3 class="my-3"><%= t('.header') %></h3>
<p><%= link_to t('.new_test'), new_admin_test_path, class: "btn btn-info" %></p>
<table class="table table-bordered table-sm">
  <tr>
    <th scope="col"><%= t('.title') %></th>
    <th scope="col"><%= t('.questions') %></th>
    <th scope="col"><%= t('.actions') %></th>
  </tr>
  <%= render @tests %>
</table>
<%= link_to t('.gists'), admin_gists_path %>
