<h2><%= @test.title %></h2>
<p>
  <%= t('.level') %>
  <%= @test.level %>
  <%= t('.category') %>
  <%= @test.category.title %>
</p>
<h4><%= t('.questions') %></h4>
<%= link_to t('.new_question'), new_admin_test_question_path(@test) %>
<ol>
  <%= render @test.questions %>
</ol>
<%= link_to t('.back'), admin_tests_path, class: "btn btn-light" %>
<%= link_to t('.edit'), edit_admin_test_path(@test), class: "btn btn-success" %>
