<h2><%= @test.title %></h2>
<p>
  Уровень: <%= @test.level %>
  Категория: <%= @test.category.title %>
</p>
<h4>Список вопросов:</h4>
<%= link_to 'Добавить вопрос', new_test_question_path(@test) %>
<ol>
  <%= render @test.questions %>
</ol>
<%= link_to 'Назад', tests_path %> |
