<div>
  <% if user_signed_in? %>
    <h1>
      Welcome, <%= current_user.email %>
      <%= link_to 'Guru', root_path %>
    </h1>
    <p>
      <%= link_to 'Выйти', destroy_user_session_path, method: :delete %>
    </p>
  <% else %>
    <h1>Test Guru</h1>
    <p>
      <%= link_to 'Войти', new_user_session_path %> |
      <%= link_to 'Регистрация', new_user_registration_path %>
    </p>
  <% end %>
</div>
<hr>
