<div>
  <% if signed_in? %>
    <h1>
      Welcome, <%= current_user.email %>
      <%= link_to 'Guru', root_path %>
    </h1>
    <p>
      <%= link_to 'Выйти', sign_out_path, method: :delete %>
    </p>
  <% else %>
    <h1>Test Guru</h1>
    <p>
      <%= link_to 'Войти', sign_in_path %> |
      <%= link_to 'Регистрация', sign_up_path %>
    </p>
  <% end %>
</div>
<hr>
